<h1 class="cover-heading">Display your transactions.</h1>
<p class="lead mb-5">
  Please select preffered market and locale then click Connect Bank.
</p>

<div class="container mt-4 mx-auto">
  <div class="row">
    <div class="col mb-4">
      <app-dropdown
        [label]="'Select market'"
        [options]="[
          'AT',
          'BE',
          'DE',
          'DK',
          'ES',
          'FI',
          'GB',
          'IT',
          'NL',
          'NO',
          'PT',
          'SE'
        ]"
        (optionSelected)="onSelect({ name: 'market', value: $event })"
      ></app-dropdown>
    </div>
    <div class="col mb-4">
      <app-dropdown
        [label]="'Select locale'"
        [options]="[
          'da_DK',
          'de_DE',
          'en_US',
          'es_ES',
          'fi_FI',
          'fr_FR',
          'it_IT',
          'nl_NL',
          'no_NO',
          'pt_PT',
          'sv_SE'
        ]"
        (optionSelected)="onSelect({ name: 'locale', value: $event })"
      ></app-dropdown>
    </div>
  </div>
</div>

<p class="lead">
  <app-auth-button [market]="market" [locale]="locale"></app-auth-button>
</p>
