<br />
<div *ngIf="isLoading">
  <h2>Loading...</h2>
</div>
<div *ngIf="noTransactions">
  <h2>Sorry, no transactions found, please again later!</h2>
</div>
<div *ngIf="!noTransactions">
  <h2>Transactions</h2>
  <p>
    Your favorite merchant: <strong>{{ mostOccurenceMerchant }}</strong>
  </p>
  <img src='{{"//logo.clearbit.com/" + mostOccurenceMerchant}}' onError="this.src='https://dummyimage.com/128x128/000/ffffff.jpg&text=LOGO+NOT+FOUND'">
  <br>
  <br>
  <p>During 2020 you've spent {{ maxSum.toFixed(2) }} {{currency}} in {{ mostOccurenceMerchant }}</p>
  <br />
  <p>Top 3 purchases</p>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Merchant</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let el of topThree; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ el.merchant }}</td>
        <td>{{ el.amount }} {{currency}}</td>
        <td>{{ el.date }}</td>
      </tr>
    </tbody>
  </table>
</div>
